@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Share+Tech&display=swap");

* {
  font-family: "Share Tech", sans-serif;
}

.topheader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: aquamarine;
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Menu-Horizontal li a {
  text-decoration: none;
  padding: 0.938rem 1.25rem;
  color: green;
  display: block;
}

.Menu-Horizontal li a:hover {
  color: darkgreen;
}

.Menu-Vertical {
  padding: 0;
  margin: 0;
  position: absolute;
  display: none;
  background-color: aquamarine;
  width: 12.5rem;
  list-style: none;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  display: block;
  padding: 0.625rem;
  color: green;
  text-decoration: none;
}

.Menu-Vertical li a:hover {
  background-color: lightgreen;
  color: darkgreen;
}

/*seccion 2- FORMULARIO*/

.seccion-Formulario {
  background-color: lightgreen;
  padding: 2.5rem;
  border: 0.188rem solid red;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.div-cont-formulario {
  background-color: aliceblue;
  padding: 1.875rem;
  border: 0.125rem solid darkgreen;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 31.25rem;
}

.Campo {
  background-color: rgb(196, 247, 247);
  padding: 0.625rem;
  margin-bottom: 0.5rem;
  border: 0.063rem solid green;
  border-radius: 1.25rem;
}
.Formulario label {
  display: block;
  color: blue;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.Formulario input[type="text"],
.Formulario select {
  width: 90%;
  padding: 0.625rem;
  border: 0.125rem solid rgb(137, 39, 230);
  border-radius: 0.188rem;
}

.lista-checkbox,
.lista-sexo {
  list-style: none;
  padding: 0.5rem;
  background-color: blanchedalmond;
  border: 0.094rem solid black;
  border-radius: 0.5rem;
}

.Formulario button {
  background-color: aqua;
  border: 0.125rem solid rebeccapurple;
  border-radius: 0.094rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}
